Final edited.mp4
Responsive Landing Page With Tailwind CSS.mp4
Screenshot 2025-04-02 150815.png
coding video final.mp4
design.css
landingPage_preview.webm
meta.docx
store.txt
thumbnail  final.png
thumbnail (1).jpeg
thumbnail.jpeg
~$meta.docx